
		<div class="container">

      <div class="row">

        <div class="col-md-offset-3 col-md-6">
          <mat-card>
            <mat-card-title class="header-card">
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
              
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="formaLogin" (ngSubmit)="logearUsuario()" class="formulario">
                    <p>
                        <mat-icon>account_box</mat-icon>
                        <mat-form-field>
                          <input matInput placeholder="Escriba el correo" formControlName="email" required>
                          <mat-error *ngIf="formaLogin.controls['email'].invalid">{{getErrorEmailMessage()}}</mat-error>
                        </mat-form-field>
                      </p>
                      <p>
                        <mat-icon>security</mat-icon>
                        <mat-form-field>
                          <input matInput placeholder="Escriba la contraseña" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                        
                          <mat-error *ngIf="formaLogin.controls['password'].invalid">La contraseña es requerida</mat-error>
                        </mat-form-field>
        
                      </p>
        
          
                      <div>
                          <button mat-raised-button type="submit" color="primary">Ingresar</button>
                        </div>
                  </form>

            </mat-card-content>
            <!-- <button (click)="ingresar()" mat-raised-button color="primary">
                Login
              </button> -->
          </mat-card>

        </div>
      </div>
		
		</div>
    <!-- <div class="wrap">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div> -->