.header-card{
    background-image: url('/assets/img/login-img.jpg');
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    opacity: 0.6;
    background-color: #333;
}



p{
    z-index: 4;
}

/* mat-card{
    padding: 0px;
} */

.login100-form{
    align-content: center;
    text-align: center;
}

.formulario{
    text-align: center;
    padding-top: 20px;
    /* font-size: 14px; */
}

mat-icon{
    color: steelblue;
    font-size: 40px;
    margin-top: 10px; 
    margin-right: 15px;
}