<div class="container-fluid">
    <div class="row">

        <carousel>
            <slide>
              <img src="assets/img/col-carousel1.jpg" alt="First slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/img/col-carousel2.jpg" alt="Second slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>
            <slide>
              <img src="assets/img/col-carousel3.jpg" alt="Third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </slide>
          </carousel>
  </div> 

<div class="container-fluid presentacion">
  <div class="row">
    
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="texto">
          <h3>Colegio De Irvin</h3>
          <br><br>
          <p class="formato">Nuestro mundo moderno exige variedad e innovación y el Colegio debe ofrecer a los alumnos este espacio 
            de poder ser diferentes y mostrar sus talentos individuales.</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="assets/img/entrada-colegio.jpg" class="entrada" alt="">
          </div>
  
  </div>
</div>


<div class="container-fluid palabras">
  <div class="row">
    
    <div class="col-lg-offset-2 col-lg-4 col-md-4 col-xs-12 col-sm-12">
        <img src="assets/img/entrada-colegio.jpg" class="imagen" alt="">
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="text-bienvenida">
        <p>Estimado visitante de la Pág. Web del Colegio Alemán Max Uhle, le damos la más 
          cordial bienvenida.</p>
  
        <p>A través de este medio queremos brindar una herramienta de comunicación ágil y directa, donde 
          encontrará datos importantes sobre nuestra oferta educativa.</p>
  
        <p>Esperamos tener una página actualizada, fresca y dinámica para que puedan mantenerse informados sobre todos los acontecimientos de nuestro Colegio.
            Los invitamos a acceder a este canal de comunicación con mayor frecuencia.</p>
  
        <p>Saludos</p>
  
        <p>
          <strong>Irvin Lazo Calderon</strong>
          <br>
          <strong>Director</strong>
        </p>
      </div>  
      </div>
  </div>
</div>