<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-3">
          <div class="contactanos">
              <h3>CONTACTANOS</h3>
              <p>
                <mat-icon>phone_iphone</mat-icon>
                9674536856
              </p>
              <p>
                <mat-icon>call</mat-icon>
                054-322865
              </p>
              <p>
                <mat-icon>room</mat-icon>
                Av. Los progresistas cerca cancha de trunks
              </p>
              </div>
        
      </div>

      <div class="col-lg-3 col-md-3 col-xs-3">
          <div class="links">
              <h3>PAGINAS DE INTERES</h3>
              <p>
                - Home
              </p>
              <p>
                - Nosotros
              </p>
              <p>
                - Niveles
              </p>
              </div>
      </div>

      <div class="col-lg-2 col-md-2 col-xs-2">
        
      </div>

      <div class="col-lg-4 col-md-4 col-xs-4">
        <img src="assets/img/logo-footer.png" class="logo-footer "alt="">
        <p>Colegio machencio en Movimiento</p>  
      </div>
    </div>
  </div>

  <div class="container-fluid desarrollado">
    <div class="row">
      <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-xs-12">
        
        <p class="center">Irvins school &copy 2018 | Desarrollado por: <strong>Amicasoft</strong></p>
   
      </div>
    </div>
  </div>
</div>
